@import "./variables.scss", "./mixins.scss";

.about {
  gap: 0;
  .hero,
  .card {
    .text {
      padding: 80px $mobile-gutters;
      position: relative;
    }
  }

  .hero {
    .text {
      &::before {
        content: "";
        @include overlay("/bg/about/desktop/bg-pattern-hero-about-desktop.svg", -242px, 53px);
        transform: matrix(1, 0, 0, -1, 0, 0);
      }

      h1,
      p {
        position: relative;
        z-index: 1;
      }

      h1 {
        margin-bottom: $mobile-gutters;
      }

      overflow: hidden;
    }
    .image {
      background-image: url("/images/about/mobile/image-about-hero.jpg");
      width: 100%;
      height: 320px;
    }
  }

  .card {
    .image {
      width: 100%;
      height: 320px;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  .cardOne {
    .image {
      background-image: url("/images/about/mobile/image-world-class-talent.jpg");
    }
    margin-bottom: 120px;
  }

  .cardTwo {
    .image {
      background-image: url("/images/about/mobile/image-real-deal.jpg");
    }
    margin-top: 120px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .about {
    gap: 120px;
    .hero {
      .text {
        &::before {
          content: "";
          @include overlay("/bg/about/desktop/bg-pattern-hero-about-desktop.svg", -109px, -151px);
          transform: matrix(1, 0, 0, -1, 0, 0);
        }
      }
      .image {
        background-image: url("/images/about/tablet/image-about-hero.jpg");
      }
    }

    .cardOne {
      margin-bottom: 0;
      .image {
        background-image: url("/images/about/tablet/image-world-class-talent.jpg");
      }
    }

    .cardTwo {
      margin-top: 0;
      .image {
        background-image: url("/images/about/tablet/image-real-deal.jpg");
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .about {
    gap: 160px;
    .hero,
    .card {
      display: grid;
      grid-template-columns: 640px auto;
      .text {
        text-align: left;
        padding: 145px 95px;
      }
    }
    .hero {
      .text {
        order: 1;
        position: relative;
        &::before {
          content: "";
          @include overlay("/bg/about/desktop/bg-pattern-hero-about-desktop.svg");
          transform: matrix(1, 0, 0, -1, 0, 0);
        }
      }
      .image {
        order: 2;

        height: unset;
        background-image: url("/images/about/desktop/image-about-hero.jpg");
      }
    }

    .card {
      .image {
        height: unset;
      }
    }
    .cardOne {
      grid-template-columns: 476px auto;
      .image {
        background-image: url("/images/about/desktop/image-world-class-talent.jpg");
      }
    }

    .cardTwo {
      grid-template-columns: auto 476px;
      .image {
        order: 2;
        background-image: url("/images/about/desktop/image-real-deal.jpg");
      }
    }
  }
}
