@import "./variables.scss", "./mixins.scss";

.contact {
  padding: 80px $mobile-gutters;
  background-image: url("/bg/contact/mobile/bg-pattern-hero-contact-mobile.svg");

  h1 {
    margin-bottom: 24px;
  }

  form {
    @include flex(column, center, center);
    margin-top: 48px;

    fieldset {
      border: none;
      width: 100%;
      input:not([type="submit"]),
      textarea {
        color: $white;
        background-color: transparent;
        width: 100%;
        border: none;
        border-bottom: 1px solid $white;
      }

      .formInput {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        position: relative;
        margin-top: 25px;

        &.valid,
        input:focus,
        textarea:focus {
          input,
          textarea {
            opacity: 1;
          }
          label {
            @include hidden;
          }
        }
        input:focus + label {
          @include hidden;
        }
        &.invalid {
          .error {
            display: block;
          }
        }

        input,
        label,
        textarea {
          opacity: 0.5;
          text-indent: 13px;
        }

        input,
        textarea {
          order: 2;
          padding-bottom: 13px;
        }

        label {
          position: absolute;
        }

        .error {
          position: absolute;
          right: 0;
          display: none;
          p {
            font-size: 12px;
            font-style: italic;
            span {
              content: "";
              background-image: url("/icons/icon-error.svg");
              width: 20px;
              height: 20px;
              transform: translateY(5px);
              display: inline-block;
              margin-left: 8px;
            }
          }
        }
      }
    }

    input[type="submit"] {
      margin-top: 40px;
      text-align: right;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .contact {
    h1,
    p {
      text-align: left;
    }
    background-image: url("/bg/contact/desktop/bg-pattern-hero-desktop.svg");
    padding: 71px 58px;
    form {
      fieldset {
        text-align: right;
        button {
          width: 152px;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .contact {
    @include flex(row, space-between, center);
    padding: 54px 95px;
    .text {
      width: 50%;
    }
    form {
      width: 380px;
    }
  }
}
