@import "./variables.scss", "./mixins.scss";

.hero {
  background-color: $peach;
  color: $white;
  overflow: hidden;
  text-align: center;
}

@media screen and (min-width: $tablet-breakpoint) {
  .hero {
    border-radius: 15px;
  }
}
