@import "./variables.scss";

.container {
  padding: 0 24px;
  max-width: $desktop-max;
  margin: 0 auto;
}

@media screen and (min-width: $tablet-breakpoint) {
  .container {
    padding: 0 39px 0;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .container {
    padding: 0 165px 0;
  }
}
