@import "./variables.scss", "./mixins.scss";

.container {
  max-width: $desktop-max;
  position: relative;
  margin: 0 auto;

  &::before {
    @include bodyCircle;
    left: 0px;
    top: 475px;
  }
}

.outerGrid {
  display: grid;
  gap: 120px;
  grid-template-columns: 1fr;
}

.hidden {
  @include hidden;
}

.categories,
.otherCategories,
.traits {
  margin: 0 $mobile-gutters;
}

.categories,
.otherCategories {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.traits {
  @include flex(column, center, center);
}

@media screen and (min-width: $tablet-breakpoint) {
  .container {
    padding: 0 $tablet-gutters 0;
  }

  .otherCategories,
  .categories,
  .traits {
    margin: 0;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .container {
    padding: 0 $desktop-gutters 0;
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    .web {
      grid-row: 1 / 3;
      grid-column: 1;
      height: 100%;
    }
  }

  .otherCategories,
  .traits {
    display: grid;
  }

  .otherCategories {
    gap: 0 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .traits {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
